.bg-orange{
    background-color: orange;
}

.bg-very-unhealthy{

    background-color: peru;
} 

.bg-hazardous{
    background-color: red;
}  


.pol {
    transition: ease-in;
}
.pol:hover {
    box-shadow:3px 2px 0.5px rgba(58, 32, 85, 0.219);
}